.aboutImg{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutImg img{
    width: 80% !important;
    object-fit: contain;
    margin-left: 10%;
}

.aboutSubHeading{
    color: var(--color-primary);
}

.aboutCardHeading{
    color: var(--color-primary);
}